body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.head {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px 200px 20px 200px;
    color: white;
}

header {
    font-weight: 900;
    font-size: 24px;
    
}

.head-links {
    display: flex;
    gap: 20px;
    align-items: baseline;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex:1;
    flex-direction: column;
}

.sec-one {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    background-color: #1F2937;
    height: 500px;
    padding: 0 200px 0 200px;


}

.sec-one-left {
    width: 450px;
    
}

.sec-one-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.sec-one-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 12px;
}

button {
    font-family: 'Roboto', 'sans-serif';
}

.sign-up {
    background-color: royalblue;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 30px;
    font-weight: 700;
}

.sec-one-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(110, 109, 109);
    color: white;
    height: 250px;
    width: 580px;
}

.sec-two {
    height: 500px;
}

.sec-two-title {
    font-size: 36px;
    color: #1F2937;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 600;
    text-align: center;
    padding: 20px 0 20px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    align-items: center;
}

.info {
    max-width: 170px;
}

.stand-in {
    display: flex;
    width: 160px;
    height: 160px;
    border: 4px #3882E6 solid;
    border-radius: 16px;
}

p .img-text {
    margin: 0;
}

.img-text {
    margin-top: 10px;
    color: #737374;
    font-size: 18px;
}

.sec-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0 300px 0 300px;
}

p.sec-three-quote {
    
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    width: 790px;
    align-self: center;
    margin-bottom: 0;
}

.author {
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
}